// Custom styles.
.myButton {
  background-color:#768d87;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
}
.myButton:hover {
  background-color:#6c7c7c;
}
.myButton:active {
  position:relative;
  top:1px;
}
