//
// Custom Variables
// =================================================

// Full Image Tag - pisces

$full-image-width             = 100%;
$full-image-margin-horizontal = 0;
$full-image-margin-vertical   = 0;

$half-image-width             = 50%;
$half-image-margin-horizontal = 25%;
$half-image-margin-vertical   = 0;
